n8n-workflows/03_http request traductor/03_http request traductor.json
{
  "name": "http request traductor",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        992
      ],
      "id": "5d624608-bc60-4f64-9cdc-92f8cbb9dd7c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0519e229-474e-4e0d-99c0-4bab8455382c",
              "name": "setup",
              "value": "={{ $('HTTP Request1').item.json.setup }}",
              "type": "string"
            },
            {
              "id": "35e3d71a-bfc7-43c7-a4a7-271b499b044e",
              "name": "punchline",
              "value": "={{ $('HTTP Request1').item.json.punchline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        896
      ],
      "id": "4124c129-7e12-4371-ab29-d67282b2f548",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        1152
      ],
      "id": "6aee9288-77c4-4b86-b724-ae6a505140c9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Translate it to spanish (1 option, only simple sentence):  {{ $json.setup }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -608,
        992
      ],
      "id": "0765d171-5d73-4943-94f0-084b587edd96",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d996780-f54d-456a-a0e9-3c744f065c4f",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        992
      ],
      "id": "4d29af76-69ef-4236-a470-fb3e4af5da7d",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "DESTINATARIO@gmail.com",
        "subject": "=",
        "message": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        128,
        912
      ],
      "id": "bbf2944e-bbf7-4309-875a-030aedeacf31",
      "name": "Send a message3",
      "webhookId": "e1b8bf36-163d-4c7d-a3d4-9dff8217a75d"
    },
    {
      "parameters": {
        "url": "https://official-joke-api.appspot.com/random_joke",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -832,
        992
      ],
      "id": "3412dc24-7413-4a36-8095-28332d73aa56",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "06c97b5a-0ca0-4901-a088-8ee0ddd00a12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
